$alert-success-color: #dff0d8;

.alert-success-enter-active,
.alert-success-leave-active {
    transition: opacity 0.5s ease-in-out;
}

.alert-success-enter,
.alert-success-leave-to /* .fade-leave-active для <2.1.8 */ {
    opacity: 0;
}

.alert {
    position: absolute;
    left: 0;
    z-index: 100;
    display: block;
    width: 100%;

    .alert__text {
        padding: 8px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: darken($alert-success-color, 60%);
        background-color: $alert-success-color;
        border-color: darken($alert-success-color, 10%);
        text-align: center;
        margin: 100px auto;
        max-width: 20%;
    }
}
