.time-picker {
    box-sizing: content-box;
    display: block;
    max-width: 250px;
    min-height: 40px;
    text-align: left;
    position: relative;
    color: #35495e;

    &__container {
        min-height: 40px;
        display: block;
        padding: 8px 40px 0 8px;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        box-sizing: border-box;
        transition: border-color 0.4s ease;

        &--select {
            border-color: #20a0ff;
        }

        &__icon-calendar {
            margin-left: 7px;
            position: absolute;
            right: 10px;
            top: 10px;
            bottom: 0;
            font-weight: 700;
            font-style: normal;
            width: 22px;
            line-height: 22px;
            transition: all 0.2s ease;
            border-radius: 5px;
            color: #999;
        }

        &__input {
            position: relative;
            display: inline-block;
            font-family: sans-serif;
            width: 100%;
            min-height: 20px;
            line-height: 20px;
            border: none;
            border-radius: 5px;
            background: #fff;
            padding: 1px 0 0 5px;
            transition: border 0.1s ease;
            font-size: 14px;
            box-sizing: border-box;
            margin-bottom: 8px;
            color: inherit;
            outline: 0;
            text-align: center;
        }
    }
}
