$alert-danger-color: #f2dede;

.alert {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: darken($alert-danger-color, 60%);
    background-color: $alert-danger-color;
    border-color: darken($alert-danger-color, 10%);
    // margin: 8px 0;

    .alert__close-button {
        outline: 0;
        margin-top: -2px;
        padding: 0 0 0 8px;
        cursor: pointer;
        background: 0 0;
        border: 0;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 0.2;
    }
}
