$spiner-color: #2c820a;

.select-item {
    box-sizing: content-box;
    display: block;
    width: 100%;
    min-height: 40px;
    text-align: left;
    position: relative;
    color: #35495e;

    &__tags {
        min-height: 40px;
        display: block;
        padding: 8px 40px 0 8px;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        box-sizing: border-box;
        transition: border-color 0.4s ease;

        &--select {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &--focus {
            border-color: rgba(255, 0, 0, 0.5);
        }

        &__label {
            display: inline-block;
            font-family: sans-serif;
            font-size: 14px;
        }

        &__input {
            position: relative;
            display: inline-block;
            font-family: sans-serif;
            // width: 100%;
            min-height: 20px;
            line-height: 20px;
            border: none;
            border-radius: 5px;
            background: #fff;
            padding: 1px 0 0 5px;
            transition: border 0.1s ease;
            font-size: 14px;
            box-sizing: border-box;
            margin-bottom: 4px;
            color: inherit;
            outline: 0;
        }

        &__icon-spin4 {
            float: right;
            font-size: 110%;
            color: $spiner-color;
        }
    }

    &__arrow {
        position: absolute;
        width: 40px;
        height: 100%;
        right: 1px;
        top: 1px;
        padding: 4px 8px;
        text-align: center;
        transition: transform 0.4s ease;
        box-sizing: border-box;
        cursor: pointer;
        transform-origin: center;

        &--select {
            transform: rotate(180deg);
        }

        &::before {
            position: relative;
            right: 0;
            top: 55%;
            color: #999;
            margin-top: 4px;
            border-style: solid;
            border-width: 5px 5px 0;
            border-color: #999 transparent transparent;
            content: "";
        }
    }

    &__fade-enter-active,
    &__fade-leave-active {
        transition: all 0.4s ease;
        overflow: hidden !important;
    }

    &__fade-enter,
    &__fade-leave-to {
        max-height: 0 !important;
    }

    &__content {
        max-height: 300px;
        position: absolute;
        list-style: none;
        background: #fff;
        width: 100%;
        overflow: auto;
        padding: 0;
        margin: 0;
        border: 1px solid #e8e8e8;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 2;
        box-sizing: border-box;

        &__item {
            display: block;
            padding: 12px;
            min-height: 40px;
            line-height: 16px;
            text-decoration: none;
            text-transform: none;
            vertical-align: middle;
            position: relative;
            cursor: pointer;
            white-space: nowrap;
            box-sizing: border-box;
            font-size: 14px;

            &:hover {
                background: #20a0ff;
                color: #fff;
            }
        }
    }
}
